<div class="footer">
  <div class="footer-content">
    <h3 class="footer-title">
      <a href="https://khai.edu" target="_blank" class="footer-link">Національний аерокосмічний університет ім. М.Є. Жуковського</a>
    </h3>
    <div class="social-links">
      <a href="https://www.facebook.com/aerospaceuniversity" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/aerospaceuniversity/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://t.me/aerospaceuniversity" target="_blank"><i class="fab fa-telegram"></i></a>
    </div>
  </div>
  <p class="footer-copy">&copy; 2023 Всі права захищені</p>
</div>
