<h2>Користувачі</h2>
<div class="wrapper">
  <div class="rates">
    <div class="rates-table">
      <kendo-grid
      class="rates-grid"
      [height]="575"
      [pageable]="true"
      [data]="gridData | async"
      [pageSize]="10"
      [sortable]="true"
      (remove)="removeHandler($event)"
      (add)="addHandler()">
        <ng-template kendoGridToolbarTemplate>
          <button kendoGridAddCommand>Додати нового користувача</button>
        </ng-template>
        <kendo-grid-column field="firstName" title="Ім'я"></kendo-grid-column>
        <kendo-grid-column field="lastName" title="Прізвище"></kendo-grid-column>
        <kendo-grid-column field="email" title="E-mail"></kendo-grid-column>
        <kendo-grid-column field="isAdmin" title="Адмін">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.isAdmin ? 'Так' : 'Ні' }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column [columnMenu]="false" title="Дії" [width]="160">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button (click)="updateUserRole(dataItem.id, dataItem.isAdmin)">
              {{ dataItem.isAdmin ? 'Понизити до користувача' : 'Підвищити до Адміністратора'}}
            </button>
            <button kendoGridRemoveCommand>Видалити</button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </div>
</div>

<kendo-dialog *ngIf="isCreateDialog" title="Додати нового користувача" (close)="closeCreateDialog()" [width]="700">
  <form [formGroup]="userForm!" (ngSubmit)="onFormSubmit()">
    <h3 class="form-title">Додати нового користувача</h3>
    <div class="form-choice">
      <span>Ім'я: </span>
      <kendo-textbox formControlName="firstName" showSuccessIcon="initial" showErrorIcon="initial"></kendo-textbox>
    </div>
    <div class="form-choice">
      <span>Прізвище:</span>
      <kendo-textbox formControlName="lastName" showSuccessIcon="initial" showErrorIcon="initial"></kendo-textbox>
    </div>
    <div class="form-choice">
      <span>E-mail: </span>
      <kendo-textbox formControlName="email" showSuccessIcon="initial" showErrorIcon="initial"></kendo-textbox>
    </div>
    <div class="form-choice">
      <span>Пароль: </span>
      <kendo-textbox formControlName="password" showSuccessIcon="initial" showErrorIcon="initial"></kendo-textbox>
    </div>
    <div class="action-buttons">
      <button kendoButton type="button" (click)="closeCreateDialog()">Відмінити</button>
      <div>
        <button [disabled]="!userForm!.valid" kendoButton type="submit" themeColor="primary">Зберегти</button>
      </div>
    </div>
  </form>
</kendo-dialog>

<kendo-dialog title="Видалити користувача" *ngIf="isDeleteDialog" (close)="closeDeletionDialog()" [minWidth]="250"
  [width]="450">
  <p style="margin: 30px; text-align: center;">
    Ви впевнені, що хочете видалити {{ userToDelete!.firstName }} {{userToDelete!.lastName}}?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="deleteUser()" themeColor="primary">Видалити</button>
    <button kendoButton (click)="closeDeletionDialog()">Відмінити</button>
  </kendo-dialog-actions>
</kendo-dialog>